@model IEnumerable<WebTeste007.Models.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idClientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idMaquinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idClientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idMaquinas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idInvt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idInvt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idInvt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
